// Color Variables
$primary-color: #222;
$text-color: #555;
$text-color-dark: #333;
$link-color: #007bff;
$body-color: #fff;
$border-color: #eee;
$black: #000;
$white: #fff;
$light: #fbfbfb;

// Font Variables
$primary-font: 'Playfair Display', sans-serif;
$icon-font: 'themify';
